---
layout: default
---
{% assign post_cat = site.collection_cats | where:"title", page.Category | first %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    
    <!-- Article footer -->
    <div class="article-footer">
        <!-- Series links -->
        {% if page.is_series == true %}
        <div class="row spacer-y">
            <div class="col-12">
                <div class="big-banner rounded">
                    <h3 class="text-success p-3 pb-0">{{ page.series_title }} series</h3>
                    <h4> Posts in the series: </h4>
                    {% assign posts = site.posts | where: "is_series", true | where: "series_title", page.series_title |
                    sort: 'date' %}
                    {% for post in posts %}
                    {% if post.title == page.title %}
                    <p class="nav-link bullet-pointer mb-0">{{ post.title }}</p>
                    {% else %}
                    <a class="nav-link bullet-hash" href="{{ post.url }}">{{ post.title }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
   </div>

      <!-- Article content -->
   <div class="article-body{% if page.Category != " Technology" %} serif{% endif %}" itemprop="articleBody">
       {{ content }}
   </div>


</article>

